@font-face {
  font-family: "digital-7";
  src: url(./font/digital-7.ttf);
}
body {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 98vh;
  background: linear-gradient(0deg, rgb(236, 191, 236) 50%, rgb(245, 214, 164) 50%);
  background-size: 100%;
}

#leftContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  width: 50vw;
  margin-left: 3vw;
}

#bubble {
  background-image: url("./images/bubble.png");
  background-size: cover;
  width: 40vw;
  height: 70vh;
  margin-top: -2vh;
}

#textContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 48vh;
  width: 30vw;
  margin-left: 5vw;
  margin-top: 2vw;
}

.text {
  font-family: "digital-7";
  font-size: 3rem;
  font-weight: bold;
  color: rgb(93, 89, 89);
  z-index: 1;
  position: absolute;
}

#choiceOutput {
  margin-top: 30vh;
}

#btnContainer {
  width: 35vw;
  height: auto;
  margin-left: 4vw;
  margin-bottom: 1vw;
}

input {
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
  font-size: 3rem;
  height: 80px;
  width: 80px;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  margin: 4px 2px 4px 2px;
}

input:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

input:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

input:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

#menuContainer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  height: 80vh;
  width: 11vw;
  background: rgba(167, 239, 244, 0.876);
  border-radius: 4px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  margin-right: 3vw;
  margin-left: 4vw;
  padding: 70px 0px 40px 0px;
}

#scroll-up,
#scroll-down {
  position: absolute;
  cursor: pointer;
  height: 8vh;
  width: 8vh;
  margin-right: 2.5vw;
  margin-left: 2.5vw;
  background-size: 8vh;
  opacity: 30%;
  z-index: 2;
}

#scroll-up {
  background-image: url("./images/up.png");
  margin-top: -9vh;
}
#scroll-up:hover {
  transform: translateY(-2px);
  transform: scale(150%);
}

#scroll-down {
  margin-top: 77vh;
  background-image: url("./images/down.png");
}
#scroll-down:hover {
  transform: translateY(2px);
  transform: scale(150%);
}

.item {
  height: 12vh;
  width: auto;
}
.item:hover {
  transform: scale(150%);
}

#machine {
  height: 90vh;
  width: auto;
  margin-top: 1vh;
  margin-right: 2vw;
}/*# sourceMappingURL=VendingMachine-Style.css.map */