
$backgroundColor1: rgb(243, 193, 222);
$backgroundColor2: rgb(245, 214, 164);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(
        100deg,
        $backgroundColor1 50%,
        $backgroundColor2 50% );
        
}