@use '../styles/index' as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(
        90deg,
        $backgroundColor1 50%,
        $backgroundColor2 50% );
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#screen {
    border: greenyellow 2px solid;
    width: clamp(300px, 100%, 600px);
    padding: 10rem 5rem;
}
