/* colors */ 

$backgroundColor1: rgb(243, 193, 222);
$backgroundColor2: rgb(245, 214, 164);

$textColor: rgb(239, 17, 17);
$menuColor: rgba(167, 239, 244, 0.876);

$checkButton: rgb(143, 231, 143);
$resetButton: rgb(244, 126, 126);

$buttonShadow1: #d6d6e7;
$buttonShadow2: rgba(45, 35, 66, 0.4);
$buttonShadow3: rgba(45, 35, 66, 0.3);