@use '../styles/colors' as *;
@use '../styles/mixins' as *;

/* menu */

#menuContainer {
    position: relative;
    @include flex;
    height: 85vh;
    width: 8.5vw;
    background: $menuColor;
    border-radius: 20px;
    box-shadow: $buttonShadow2 0 2px 4px,
    $buttonShadow3 0 7px 13px -3px, $buttonShadow1 0 -3px 0 inset;
  }
  .itemContainer {
    position: relative;
    @include flex;
    height: auto;
    width: 8vw;
    overflow: hidden;
  }
  .item {
    @include items;
  
  }
  .scrollBtn img {
    width: 5vw;
    height: auto;
    opacity: 20%;
    cursor: pointer;
    margin: -10px 0 -10px 0;
    &:hover {
      transform: scale(120%);
      opacity: 50%;
    }
  }