
@use '../styles/colors' as *;
@use '../styles/mixins' as *;

/* text stuff */
/* downloaded font */

#bubble {
    @include flex;
    width: 40vw;
    height: 65vh;
    margin-top: -2vh;
  }
  .text,
  p {
    @include font;
  }
  
  #textContainer {
    @include flex;
    position: absolute;
    height: 30vh;
    width: 39vw;
    top: 11vh;
    left: 7vw;
    margin-top: 1vh;
  
  }
  
  #textBox:after,
  .enterCoins:after {
    content: "..";
    display: inline-block;
    animation: blink 1s infinite;
  }
  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #textInput {
    @include font;
    height: 5vh;
    width: 5vw;
    border: none;
    outline: none;
    background: #ffffff;
  }
  
  #descriptionBox {
    text-align: center;
    position: absolute;
    height: 10vh;
    width: 34vw;
    top: 38vh;
    left: 8vw;
  }
  