/* downloaded font */

@font-face {
  font-family: "digital-7";
  src: url(./font/digital-7.ttf);
}

/* sass elements */

@mixin scrollBtn {
  position: absolute;
  cursor: pointer;
  height: 8vh;
  width: 8vh;
  margin-right: 2.5vw;
  margin-left: 2.5vw;
  background-size: 8vh;
  opacity: 30%;

  &:hover {
    opacity: 10%;
  }
}

@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin items {
  height: 14vh;
  width: auto;
  &:hover {
    transform: scale(150%);
  }
}
@mixin font {
  font-family: "digital-7";
  font-size: 6vh;
  font-weight: bold;
  color: rgb(93, 89, 89);
  text-align: center;
}
@mixin button {
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  transition: box-shadow 0.15s, transform 0.15s;
  touch-action: manipulation;
  will-change: box-shadow, transform;
}
body {
  user-select: none;
  -webkit-user-select: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 98vh;
  background: linear-gradient(
    0deg,
    rgb(236, 191, 236) 50%,
    rgb(245, 214, 164) 50%
  );
  background-size: 100%;
}

#leftContainer {
  grid-column: 1/3;
  @include flex;
  justify-content: space-around;
  align-items: center;
  height: 95vh;
  width: 40vw;
}

/* text bubble */

#bubble {
  @include flex;
  width: 40vw;
  height: 65vh;
  margin-top: -2vh;
}
.text,
p {
  @include font;
}
#textContainer {
  @include flex;
  position: absolute;
  align-items: center;
  height: 30vh;
  width: 39vw;
  top: 11vh;
  left: 7vw;
  margin-top: 1vh;

}

#textBox:after {
  content: "..";
  display: inline-block;
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#textInput {
  @include font;
  height: 5vh;
  width: 5vw;
  border: none;
  outline: none;
  background: #ffffff;
}

#descriptionBox {
  text-align: center;
  position: absolute;
  height: 10vh;
  width: 34vw;
  top: 38vh;
  left: 8vw;
}
.description {
  display: none;
  font-size: 6vh;
}
.payButton {
  display: none; 
  @include font;
  @include button;
  height: 10vh;
  width: 10.5vw;
  background: rgba(167, 239, 244, 0.876);
  margin-bottom: 4px;
  margin-right: 21.5vw;
}

/* buttons */

#btnContainer {
  @include flex;
  align-items: center;
  width: 35vw;
  height: auto;
  margin-top: -2vh;
}
#check {
  background: rgb(143, 231, 143);
}
#delete {
  background: rgb(244, 126, 126);
}
.btn,
.submitBtn {
  @include font;
  @include button;
  align-items: center;
  justify-content: center;
  appearance: none;
  background: #fcfcfd;
  display: inline-flex;
  appearance: none;
  height: 10vh;
  width: 5vw;
  line-height: 1;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  margin: 4px 2px 4px 2px;
}

.btn:focus,
.payButton:focus,
.submitBtn:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.btn:hover,
.payButton:hover,
.submitBtn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-5px);
}

.btn:active,
.payButton:active,
.submitBtn:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

#payContainer {
  display: none; 
  position: fixed;
  z-index: 3;
  padding-top: 200px;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}
.payContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* menu */

#menuContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 8.5vw;
  background: rgba(167, 239, 244, 0.876);
  border-radius: 20px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}
#itemContainer {
  position: relative;
  @include flex;
  align-items: center;
  height: 80vh;
  width: 9vw;
}
.item {
  @include items;
}

/* vending machine */

#machine {
  display: grid;
  grid-column: 4/6;
  height: 90vh;
  width: 35vw;
  margin-top: 1vh;
}
