
@use '../styles/colors' as *;
@use '../styles/mixins' as *;
@use '../styles/buttons' as *;
@use '../styles/text' as *;
@use '../styles/menu' as *;
@use '../styles/payment' as *;





body {
  user-select: none;
  -webkit-user-select: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 98vh;
  background: linear-gradient(
    0deg,
    $backgroundColor1 50%,
    $backgroundColor2 50%
  );
  background-size: 100%;
}

#leftContainer {
  grid-column: 1/3;
  @include flex;
  justify-content: space-around;
  height: 95vh;
  width: 40vw;
}


/* vending machine */

#machine {
  display: grid;
  grid-column: 4/6;
  height: 90vh;
  width: 35vw;
  margin-top: 1vh;
}

